h3.donutHeader {
    padding-left: 55px;
}

h3 {
    font-family: serif;
}

.y-axis-label {
font-size: 15px;
padding: 10px;
}

/*body {
    background-color: white;
}*/

.addPromotion {
    padding: 15px;
    margin: 10px;
    float: right;
}

.addBtn {
    background-color: #ffe366;
}


h2 {
    font-family: Open sans-serif, Arial, Helvetica, sans-serif, sans-serif;
    font-size: 36px;
    font-weight: 300;
    color: #4e9eb8
}

.modal-header {
    background-color: #4e9eb8;
    color: #fff;
}

.modal-title {
    font-size: 20px;
}

.modal-body {
    font-size: 15px;
    color: #505050;
}

.modal-footer {
    background-color: #4e9eb8;
}

.admin-table {
    color: #505050;
    font-size: 16px;
}

.blue-btn {
    background-color: #4e9eb8;
}


